/*
 * If you want to customize the CSS of this module, copy the definitions
 * below into your custom.css and make your changes there.
 */

/* when full screen */
.bgimagefs {
  /* Center and scale the image nicely */

  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* not fullscreen */
.bgimage {
}

.imgDate {
	  float:right;
	  font-size:18px;
	  line-height:100%;
	  color:#FFF;
	  text-shadow:1px 1px black;
	  position:fixed;
  	  top: var(--top);
  	  left: var(--left);
 	  bottom: var(--bottom);
  	  right: var(--right);
      margin:50px;
	  background-color: rgba(0,0,0,0.5);
	  padding: 12px;
	  border-radius: 36px;
	  text-align:left;
}
